@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.chart-title {
    font-size: 1.25em;
    fill: "#333"; 
}

.tooltip {    
    position: absolute;            
    text-align: center;            
    width: 60px;                   
    height: 28px;                  
    padding: 2px;             
    font: 12px sans-serif;      
    background: lightsteelblue;   
    border: 0px;      
    border-radius: 8px;            
    pointer-events: none;          
}

.highlight-circle {
    fill: #ffab00;  
    opacity: 0.5;
}

.highlight-rect {
    fill: #00e5ff;  
    opacity: 0.3;
}

svg {
    padding: 10px;
}
.poem {
    font-family: 'Roboto', sans-serif;
    white-space: pre-wrap;  
    margin: 1em auto; 
    max-width: 600px; 
    text-align: center;  
}

.stanza {
    text-indent: 0em; 
    margin-top: 1em;  
}

.axis path,
.axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.bar:hover {
    fill: #ffab00;  
    cursor: pointer;
}

.bar-label {
    font-size: 0.85em;
    fill: #555;
}

 
.tooltip, .percent-label {
    transition: opacity 0.3s;
}

.tooltip {    
    z-index: 10;
 
}

.text-element {
    font-family: 'Roboto', sans-serif;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .filter-container {
    flex: 0 0 auto;  
    margin-right: 20px; 
  }

  .poem-text {
    font-family: 'Roboto', sans-serif; 
    font-size: 1em;  
    
}
.poem-title {
    font-size: 1.5em;  
    font-weight: bold;  
    display: block; 
}

  
 